header {
    background-color: rgb(218, 216, 216);
    padding: 5px;
    position: sticky;
    top: 0;
}
h1 {
    text-align: center;
    margin-top: 0;
}
html {
    width: 100%;
}
a {
    color: green;
    font-weight: bold;
}
a:active {
    color: red;
}
.list {
    list-style-type: disc;
}
.image {
    display: inline;
    cursor: pointer;
    align-items: center;
}
.imagedev {
    flex-direction: row;
    flex-wrap: wrap;
    
}
body {
    background: url("images/cy\ moon.jpg") no-repeat fixed top;
    background-size: cover;
    border: double;
    border-color: white;
    border-width: 10px;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 50px;
    line-height: 1.5;
}
strong {
    text-decoration: underline;
}
i {
    font-size: 25px;
    margin: 0;
}
div {
    margin: auto;
    width: auto;
    font-size: 18px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}
table {
    width: 85%;    
}
table, td, th {
    border: 1px solid;
}
table {
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    padding: 10px;
}
caption {
    font-size: 22px;
    text-align: left;
    text-decoration: underline;
}
tr:nth-child(even) {
    background-color: rgba(203, 203, 203, 0.818);
}
tr:nth-child(odd) {
    background-color: rgb(149, 149, 149);
}
tr:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
.tabledev {
    overflow-x: auto;
    
}
footer {
    background-color: rgb(218, 216, 216);
    padding: 3px;
}
figcaption {
    text-align: center;

}
img {
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
    cursor: pointer;
}