h1 {
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
}
blockquote {
    width: 1200px;
    margin-left: 150px;
    font-size: 18px;
}
a {
    color: green;
}
a:active {
    color: red;
}
img {
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
    cursor: pointer;
}
.list {
    list-style-type: disc;
}
.image {
    display: inline;
    margin: 40px;
    cursor: pointer;
}
body {
    background-image: url(images/cy\ moon.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
}